<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>some Website</title>
    </head>
    <body>
{{> header}}
       <h1><p>Points Table</p></h1>
        
      
  <div data-role="header">
    <h1>Match Results in point table so far in  Tournament</h1>
  </div>
  
  <div data-role="main" class="ui-content">
    <table data-role="table" data-mode="columntoggle" class="ui-responsive table1" data-column-btn-text="Click me to hide or shown columns!" id="myTable">
      <thead>
        <tr>
          <th data-priority="6">TEAMS</th>          
          <th data-priority="1">MATCHES</th>
          <th data-priority="2">WON</th>
          <th data-priority="3">LOSS</th>
          <th data-priority="4">TIED</th>
          <th data-priority="5">TOTAL RUNS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>LIONS</td>
          <td>1</td>
          <td>1</td>
          <td>0</td>
          <td>0</td>
          <td>60</td>
          
        </tr>
        <tr>
             <td>LIONS</td>
          <td>1</td>
          <td>1</td>
          <td>0</td>
          <td>0</td>
          <td>60</td>
        </tr>
        <tr>
             <td>LIONS</td>
          <td>1</td>
          <td>1</td>
          <td>0</td>
          <td>0</td>
          <td>60</td>
        </tr>
        <tr>
        <td>LIONS</td>
          <td>1</td>
          <td>1</td>
          <td>0</td>
          <td>0</td>
          <td>60</td>
        </tr>

      </tbody>
    </table>
  </div>


        
     {{> footer}}
    </body>

</html>